[user]
    name = TAKETANI Tetsuya
    email = taketani@mediba.jp
[color]
    ui = auto
[core]
    excludesfile = /Users/taketani/.gitignore
    editor = /usr/bin/vim
[alias]
    co = checkout
    st = status
    ci = commit -v
    di = diff
    ds = diff --staged
    br = branch
    up = pull --rebase
    pd = pull --rebase origin develop
    graph = log --pretty=format:\"%C(yellow)%h%Creset %C(magenta)%ad%Creset | %s%Cred%d%Creset [%Cgreen%an%Creset]\" --graph --date=short
    showpr = !"f() { git log --merges --oneline --reverse --ancestry-path $1...master | grep 'Merge pull request #' | head -n 1; }; f"
[init]
	templatedir = /Users/taketani/.git_template/
